<div class="container container-box">
		<h1>Edditing Book</h1>
	        <%= form_for(@book) do |f| %>
	        	<div class="title-name">Title</div>
                    <%= f.text_field :title %>
	        	    	<div class="body">Body</div>
	        	    <%= f.text_area :body %>
	        	    <%= f.submit "Update Book" %>
	        <% end %>		
</div>